@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        I loved being a teacher. I mean it. I really loved it &mdash; at first. When I became a teacher, I spent years learning how to reach
        students. I learned how to present material in a manner and on a level they would understand, to elevate not only their knowledge,  
        but the way they thought. I taught them not to need me, to be self-sufficient and to find a way to be smarter than I am. In other words, 
        I didn't teach them English; I taught them how to learn. The fact that they were also able to enjoy Shakespeare and the finer points 
        of split infinitives was a nice bonus.
    </p>
    <iframe style="border: 0; width:640px; height:390px;" src="//www.youtube.com/embed/mBqbT5mfwkU"></iframe>
    <p>
        Then one day, the school district I worked in let me know that &mdash; due to budgetary concerns &mdash; my position was being 
        eliminated. I finally found what I wanted to be when I grew up, and I was no longer allowed to be that. In looking 
        back at the last few years of my teaching career, I was disappointed to realize how much of my time as a teacher had been spent 
        stroking egos, avoiding power-grabbing cliques of peers, fighting the power of economics and watching good teaching fall victim  
        to "good business." Scholarly pursuit and the nobility of education was becoming a secondary repose. It became harder and harder 
         to lie to children about the world they lived in and the world they were headed for in order to avoid upsetting the apple cart 
        of educational reform and "progress." So, maybe this was just the Universe telling me that the time was nigh to be moving on to 
        something bigger and better.
    </p>
    <img src="~/Images/LayoffsMeme.jpg" />
    <p>
        I had a lot of thoughts on what direction I wanted to head in. However, the reality of spending the next 4-5 years back in college 
        learning a new trade while entering my 40s was not exactly how I had envisioned life would be like. The prospects for a new 
        career were overwhelming, and I wasn't sure what I would be good at, what I would enjoy, and what would start helping me pay the 
        bills I had <em>now</em> rather than years from now. I did some research, and learned a lot of things along the way about how 
        different the world had become over the last 10 years. In a way though, I felt reinvigorated. The old feelings of "anything is 
        possible" started to come back. 
    </p>

    <p>
        Then, a friend of mine who happens to be a pretty fine programmer said I should think about learning to code. He knew several 
        people who had shifted careers, either by choice or necessity, and they were doing fine and enjoying what they were doing. I was 
        skeptical for a while, for even though I knew how to turn on a computer and even install drivers and navigate YouTube, I had 
        doubts about how much I would be able to learn as an "older" student of technology. I felt pretty far behind the curve and losing 
        ground daily. The newsfeeds everywhere were abuzz with lightning-fast developments that blew me away. Still, I have to say, my 
        friend is one tenacious fellow. He kept at it, and eventually my resistance wore down little by little. It occurred to me at one 
        point or another that I <em>liked</em> this programming thing &mdash; instantly seeing the results of hard work, tracking progress,
        keeping up with some of the ideas and concepts people much more experienced than I were discussing in the forums. Like everything 
        else though, I realized that it was just going to take a little hard work, some perseverance, and maybe a little carpal-tunnel, 
        but I could handle it.
    </p>
    <img src="~/Images/SemicolonGraph.png" />
    <p>
        This web site is the product of my coding knowledge to date. I'm sure there's going to be some problems with it periodically
        as I break it just so I can figure out how to fix it (or just break it because I didn't know what I was doing at the time, but 
        don't tell anyone). Hopefully, there will be some major improvements along the way, and eventually I'll have something that I 
        can show off proudly as a result of becoming a somewhat-competent programmer. Thanks for visiting though, and if you find 
        yourself interested in doing a little programming yourself, look around. I may have some helpful hints, or maybe some links 
        to get you started.
    </p>
</article>

<aside>
    <img style="width: 80%" src="~/Images/aboutpic.jpg" />
    <h3>Hey, Let's Be Friends</h3>
    <p>
        As you can see, I'm a very happy person. Here's where you can find me on the Interwebs:
    </p>
    <ul class="list">
        <li><a href ="https://www.facebook.com/dmazella" target="_blank">Facebook</a></li>
        <li><a href ="https://twitter.com/intent/user?screen_name=WookieSlapper" target="_blank">Twitter</a></li>
        <li><a href ="https://plus.google.com/u/0/101011820378361123461/about" target="_blank">Google+</a></li>
    </ul>
</aside>