@{
    ViewBag.Title = "Blog";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>


    <h3>Pardon the Dust</h3>
    This page is still under construction while I learn how to create and manage a blog database from scratch. (Yes, there
    ARE easier ways to do it, but that defeats the whole learning thing, doesn't it?)

<hr />