@{
    ViewBag.Title = "Portfolio";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<hr />
<article>
<section class="contact">
    <header>
        <h3>Projects</h3>
    </header>
    <p>
        <span class="label">Personal Web Sites:</span>
        <span><a href="http://www.domzella.com" target="_blank"><em>Domzella.com</em></a></span>
    </p>
    <p>
        <span class="label">Business Web Sites:</span>
        <span><a href="http://www.jimmybsdeli.com" target="_blank"><em>Jimmy B's Deli</em></a></span>
    </p>
    <p>
        <span class="label">Games:</span>
        <span><em>Dwarf</em>; A role-playing game inspired by J.R.R. Tolkien's Middle-Earth</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Education</h3>
    </header>
    <p>
        <span class="label">Erie Community College, Buffalo, New York: </span>
        <span><em>A.S., Computer Science, expected graduation 2016</em></span>
    </p>
    <p>
        <span class="label">State University of New York at Buffalo, Buffalo, New York: </span>
        <span><em>M.A., Humanities; English and Education, 2007</em></span>
    </p>
    <p>
        <span class="label">State University of New York at Buffalo, Buffalo, New York: </span>
        <span><em>B.A., English, 2000</em></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Experience</h3>
    </header>
    <p>
        <span class="label">Buffalo Public Schools, Teacher (GED/TASC/JRT), 2012-Present: </span>
        <span><em>Integrated technology to provide instruction to adults looking to return to the workforce and/or improve their 
            marketability. Taught workplace computer skills, as well as interview and job-related "soft" skills, including 
            problem-solving, collaboration, professional verbal and non-verbal communication, and conflict resolution.</em>
        </span>
    </p>
    <p>
        <span class="label">Irish Classical Theater Company, House Manager, 2012-Present:</span>
        <span><em>Organized and directed team of personnel to provide optimum customer experience. Responsible for coordinating
            bar operations, box-office relations, and collaboration with Stage Manager and Production Manager. Created and maintained
            web sites for employees and actors.</em>
        </span>
    </p>
    <p>
        <span class="label">Springville Griffith-Institute CSD, Teacher, 2007-2012:</span>
        <span><em>Tenured teacher. BOOST technology team member, instrumental in incorporating new technologies into high school
            curriculum. Responsible for teaching low-level team of incoming Freshment students. Junior Varsity football coach. TEQ
            Smartboard certified user.</em>
        </span>
    </p>
</section>
</article>

<aside>
    <h3>Skills</h3>
    <ul class="list">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>JQuery</li>
        <li>Razor</li>
        <li>PHP</li>
        <li>MySQL</li>
        <li>C#</li>
        <li>Git</li>
        <li>ASP.Net</li>
        <li>MVC4</li>
    </ul>
    <h3>Certifications</h3>
    <ul class="list">
        <li>NYS Teaching Certification, 7-12 (Permanent)</li>
        <li>TEQ Smartboard Certified User</li>
    </ul>
</aside>